<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="/stylesheet/bootstrap2.min.css" rel="stylesheet">
    <link href="/stylesheet/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>

    <link rel="stylesheet" href="/stylesheet/style.css" type="text/css"/>
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" href="#"><b> <span style="color: blueviolet;">User</span>Management</b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/homepage">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Users
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/addUser">Add User</a></li>
                            <li><a class="dropdown-item" href="/users">List of User</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contacts</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <main>
        <section class="py-5 text-center container">
          <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
              <h1 class="fw-light">Effortless User Control, Seamless Management</h1>
              <p class="lead text-body-secondary">Empower Your Digital Space with Intuitive User Management - Create, Retrieve, Update, and Delete Users Effortlessly!</p>
              <p>
                <a href="#" class="btn btn-primary my-2">Learn More</a>
              </p>
            </div>
          </div>
        </section>
      
        <div class="album py-5 bg-body-tertiary">
          <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              <div class="col">
                <div class="card shadow-sm">
                    <img src="/images/card1.png" width="100%" height="225"  alt="">                  
                    <div class="card-body">
                    <p class="card-text">Effortlessly create, update, and delete user profiles with our intuitive interface. Our user management system streamlines complex processes, putting control at your fingertips and freeing you to focus on what matters most.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Learn more</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                    <img src="/images/card2.png" width="100%" height="225"  alt="">                 
                    <div class="card-body">
                    <p class="card-text">Elevate your platform's security with advanced user authentication and authorization features. Our user management website ensures robust protection, granting access only to authorized personnel, bolstering trust in your system.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Learn more</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                <img src="/images/card3.jpeg" width="100%" height="225"  alt="">                  
                  <div class="card-body">
                    <p class="card-text">Grow your user base without the headache. Our platform offers scalable user management solutions, allowing you to efficiently accommodate new users while maintaining the same level of control and customization</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Learn more</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
      
              
            </div>
          </div>
        </div> 

        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
              <div class="col-10 col-sm-8 col-lg-6">
                <img src="/images/card3.jpeg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
              </div>
              <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Streamline, Secure, and Scale with Our Intuitive User Management Platform!</h1>
                <p class="lead">Revolutionize user control with seamless CRUD operations - Customize, Manage, and Elevate User Experiences effortlessly!</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                  <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Learn More</button>
                </div>
              </div>
            </div>
          </div>
      </main>

 
      <div class="container">
        <footer class="py-3 my-4">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Contacts</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">UserList</a></li> 
          </ul>
          <p class="text-center text-muted">© 2023 Company, Inc</p>
        </footer>
      </div>



    
<script src="js/bootstrap.bundle.min.js"></script>

</body>
</html>